/*****************************************************
 *          ici le stile du  MAIN                    *
 *****************************************************/
 @import 'style.css';
 main{
    background-color: var(--fond-marron);
   /* height: 1600px; */
}   
 .main_content{
     padding: 37px;
            background-color: var(--fond-marron);
    
     }
     .main_carte{
         /*   box-shadow: 1px 6px 15px 1px rgba(0,0,0,0.39) inset;*/
         box-shadow:0px 0px 20px 5px rgba(0, 0, 0, 0.50);
         border: var(--fond-marron) 1px solid ;
         background-color: #fff;
          padding:0 0 20px ; 
     }
.main-carte-titel{
    box-shadow: 0px 5px 5px 0px #7C7C7C;
    
    height: 60px;
    border: var(--fond-marron) 1px solid;
    text-align: center;
    line-height: 60px;
    color:var(--fond-marron) ;
}
.main_carte h3 {
    padding: 15px;
}
.main_carte>p {
    padding-left: 40px;
}
.main-adresse {
    padding-left: 40px;
    margin: 25px 0;
    
}
.main-adresse p:nth-child(3){
    padding-left: 5ch;
}
.main-adresse a {
    text-decoration: none;
    color: inherit;
    display:block;
}
.main-adresse span{
    padding-right: 30px;
}
.main-carte-contact { 
  padding: 10px;  
display: flex;
justify-content: space-evenly;
flex-direction: column;
}
.main-carte-contact input{
    border: 2px solid rgba(0, 0, 0, 0.50);
    box-shadow: inset 0px 0px 15px 5px rgba(112, 112, 112, 0.25), 0px 0px 5px 3px rgba(112, 112, 112, 0.25);
padding: 10px;
   height: 40px;
    width: 100%;
    margin-bottom: 10px;
}
.main-carte-contact input[type="submit"]{
    background-color: rgba(0, 0, 0);
    color: white;
    /* font-weight: bold; */
    font-size: 18px;
    
    height: 50px;
}

.main-carte-contact textarea{
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.50);
    box-shadow: inset 0px 0px 15px 5px rgba(112, 112, 112, 0.25);  
}
@media screen and (min-width:835px) and (orientation: landscape){



}
