/*****************************************************
 *   CSS page nos réalisations version Desktop       *
 *****************************************************/
@media screen and (min-width: 835px)
{
.main_fondnosrealisations
{
    display: flex;
    flex-direction: column;
    margin : 0 auto;
    background-color: #716558;
    padding: 37px; 
    width: 100%;
    
}
.main_titre1
{
padding: 10px;
text-align: center;
background-color: #FFFFFF;
color: #716558;
border: solid 1px #716558; 
margin:5px;
box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
}
.main_titre2
{
    padding: 10px;
    text-align: center;
    background-color: #FFFFFF; 
    border: solid 1px #716558; 
    color: #716558;
    margin:5px;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
}
.main_articles
{
    flex-direction: row;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 18px;   
}
.fond
{
width: 450px;
position: relative;
border: solid 1px #716558;
padding: 5px;
box-shadow: 0 0 1em black;
transition: 0.5s;
background: white;
margin: 10px;
display: flex;
align-items: center;
justify-content: flex-start;
margin: 18px;
flex-flow: wrap;
}
.fond:hover
{
    background: #cec9c5;
}
.fond img
{
  position: absolute; 
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  padding: 10px;
  transition: 0.5s;
}
.fond:hover img
{
left: 80%;
height: 230px;
}
.fond .content 
{
    position: relative;
    width: 70%;
    left: 20%;
    padding: 10px 60px 60px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.fond:hover .content 
{
opacity: 1;
visibility: visible;
left: 0%;
}
.fond .content h2
{
    color: #716558;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.em;
}
.fond .content p
{
    color: black;
    text-align: justify;
}
.fond .content h4
{
    color: black;
}
}

/*****************************************************
 *       CSS page nos réalisations version Mobile    *
 *****************************************************/
@media screen and (max-width: 834px)
{
.main_fondnosrealisations
{  
    background-color: #716558;
    padding: 37px; 
}
 .fond
 {
     position: relative; 
     width: auto;
      border: solid 1px #716558;
      box-shadow: 0 0 1em black;
     background: white;
      max-width: 450px;
     transition:0.5s;
     align-items: flex-start;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    
 }
 .fond:hover
 {
     height:400px;
 }
 .fond:hover img 
 {
     left:70%;
     height: 150px;
 }
 .fond .content
 { 
     width: 100%;
     left:0;
     padding: 40px; 
    opacity: 0;
     visibility: hidden;
     transition: 0.5s; 
    
 }
 .fond:hover
 {
     background: #cec9c5;
 }
 .fond img 
 {
   position: absolute; 
   bottom: 0; 
   left: 50%;
   transform: translateX(-50%);
   height: 100%;
   padding: 10px;
   transition: 0.5s;
 }
 .fond:hover .content
 {
 opacity: 1;
 visibility: visible;
 left: 0%;
 }
.main_titre1
{
padding: 10px;
text-align: center;
background-color: #FFFFFF;
color: #716558;
font-size: 14px;
border: solid 1px #716558; 
margin-top:5px;
box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
}
.main_titre2
{
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background-color: #FFFFFF; 
    border: solid 1px #716558; 
    color: #716558;
    margin:5px;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
}
.lorem
{
    text-align: justify;
}
.main_articles
{
    flex-direction: column;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 18px;   
}
.main_article
{
border: solid 1px #716558;
padding: 10px;
box-shadow: 0 0 1em black;
transition:0.5s;
background: white;
margin: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.main_article IMG
{
    width: 100%; 
    padding: 10px;
}
.main_article:hover
{
    background: #cec9c5;
    transform:scale(1.1,1.1) rotate(0deg);
    color: black;    
}
}
@media screen and (max-width:555px)
{
    .fond
 {
     position: relative; 
     width: auto;
      border: solid 1px #716558;
      box-shadow: 0 0 1em black;
     background: white;
      max-width: 300px;
     transition:0.5s;
     align-items: flex-start;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    
 }
 .fond:hover
 {
     height:370px;
 }
 .fond img 
 {
   position: absolute; 
   bottom: 0; 
   left: 50%;
   transform: translateX(-50%);
   height: 100%;
   padding: 10px;
   transition: 0.5s;
 }
 .fond:hover img 
 {
     left:50%;
     height: 160px;
 }
 .fond .content
 { 
     width: 100%;
     left:0;
     padding: 10px; 
    opacity: 0;
     visibility: hidden;
     transition: 0.5s;   
 }
 .main_titre1
 {
     font-size: 10px;
 }
 .main_titre2
 {
     font-size: 9px;
 }
 .content .h2 
 {
     font-size: 10px;
 }
 .lorem
{
    text-align: justify;
    font-size: 10px;
}
.dim
{
    font-size: 10px;
}
}