
body {

    background-color:#cec9c5;
    
}




@media screen and (min-width:1200px){


body {

    width: 1200px;
    margin:0 auto;
    padding:10px;
}
.mainv-mere{

    box-sizing:border-box;
}

.mainv-titre h2 {
    
    color:#716558;
    width: 100%;
    height: 50px;
    line-height:50px ;
    border: solid 1px black;
    background-color:#fff;
    margin-top: 30px; 
    margin-bottom:30px;
    text-align: center;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
}

.mainv-label1{

    border-top:solid 1px black;
    border-right:solid 1px black ;
    border-left:solid 1px black ;
    background-color:#fff;
    width:100%;
    height:auto;
    margin: 0 auto;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
}

.mainv-label1 h3{

    padding: 40px;
}

.mainv-label1 p {

    text-align: justify;
    font-size: larger;
    padding-top: 60px; 
    padding-left: 40px;
    padding-bottom: 60px;
}
.mainv-mere img{

    float: right;
    height:200px;
    width: 200px;
    padding: 30px;
    margin-top: 10px;
}

.mainv-label2{

    border-left: solid 1px black;
    border-bottom:solid 1px black ;
    border-right: solid 1px black;
    background-color:#fff;
    width:100%;
    height:auto;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
    
}

.mainv-label2 h3{

    padding: 40px; 
}

.mainv-label2 p {

    text-align:justify;
    font-size: larger;
    padding-top: 60px; 
    padding-left: 40px;
    padding-bottom: 60px;
}
}

/*entre mobile et tablette*/

@media screen and (min-width:401px) and (max-width:1199px){

body{

    margin: 0px 10px;
    padding: 10px;
}
.mainv-mere{

    box-sizing:border-box;
}
.mainv-titre h2 {

    color:#716558;
    width: 100%;
    height: 50px;
    line-height:50px ;
    border: solid 1px black;
    background-color:#fff;
    margin-top: 30px; 
    margin-bottom:30px;
    text-align: center;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
}
.mainv-label1{

    border-top:solid 1px black;
    border-right:solid 1px black ;
    border-left:solid 1px black ;
    background-color:#fff;
    width:100%;
    height:auto;
    margin: 0 auto;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
}
.mainv-label1 h3{

    padding: 40px;
}

.mainv-label1 p {

    text-align:left justify;
    font-size: larger;
    padding: 60px 40px;
}
.mainv-mere img{

    height:200px;
    width: 200px;
    padding: 30px;
    margin-top: 10px;
    float: right;
}

.mainv-label2{

    border-left: solid 1px black;
    border-bottom:solid 1px black ;
    border-right: solid 1px black;
    background-color:#fff;
    width:100%;
    height:auto;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
    
}

.mainv-label2 h3{

    padding: 40px; 
}

.mainv-label2 p {

    text-align:justify left;
    font-size: larger;
    padding-top: 60px; 
    padding-left: 40px;
    padding-bottom: 60px;
    padding-right: 40;
}
}




/* mobile max 400px*/

@media screen and (max-width: 400px) {

    body {
         
        height: auto;
        margin:0 10px;
        padding: 10px;
    }

    .mainv-mere{

    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.mainv-titre h2{ 

    color:#716558;
    width: auto;
    height: 50px;
    line-height:50px ;
    position: relative;
    border: solid 1px black;
    background-color:#fff;
    text-align:center; 
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
}

.mainv-label1{

    border-right: solid 1px black;
    border-left:solid 1px black;
    background-color:#fff;
    height: auto;
    margin-bottom: 50px;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79);
    padding: 10px;
}

.mainv-label1 h3{

    padding: 35px;
}

.mainv-label1 p{

    font-size:large;
    text-align: justify;
    
}

.mainv-mere img{
  
    height:80%;
    width: 100%;
   
}

.mainv-label2{

    border-right: solid 1px black;
    border-left:solid 1px black;
    background-color:#fff;
    margin-bottom: 50px;
    box-shadow: -1px 7px 26px 3px rgba(0,0,0,0.79); 
    
}

.mainv-label2 h3{
    
    padding: 35px;
}

.mainv-label2 p {

    font-size: large;
    text-align:justify;
    text-align: left;
    padding: 10px;
}
}